@font-face {
  font-family: "TT Commons";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/TTCommons-Regular.woff2") format("woff2"), url("./fonts/TTCommons-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "TT Commons";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/TTCommons-Medium.woff2") format("woff2"), url("./fonts/TTCommons-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "TT Commons";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/TTCommons-DemiBold.woff2") format("woff2"), url("./fonts/TTCommons-DemiBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "TT Commons";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/TTCommons-Bold.woff2") format("woff2"), url("./fonts/TTCommons-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Pragmatica";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Pragmatica-Light.woff2") format("woff2"), url("./fonts/Pragmatica-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pragmatica";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Pragmatica-Book.woff2") format("woff2"), url("./fonts/Pragmatica-Book.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pragmatica";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Pragmatica-Medium.woff2") format("woff2"), url("./fonts/Pragmatica-Medium.ttf") format("truetype");
  font-display: swap;
}
